<app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>





<div *ngIf="selectedTask">
  <h3>{{selectedTask.description}}</h3>
  <p>Task Complete? {{selectedTask.done}}</p>
  <h3>Edit task</h3>
  <label for="description">Enter Task Description:</label>
  <input id="description" [(ngModel)]="selectedTask.description">
  <br>
  <label for="priority">Enter Task Priority</label>
  <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="1"> 1 (Low Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="2"> 2 (Medium Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="3"> 3 (High Priority)
  <button (click)="finishedEditing()">Done</button>
</div>
